@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

h1 {
  font-size: 2em;
  font-weight: 700;
  font-family: "Oswald";
  letter-spacing: 1px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 35px;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

a {
  cursor: pointer;
}

button {
  font-weight: bold;
}
